<h1>Enquete da empresa</h1>

<h3>Titulo</h3>
  
<div ng-controller="QuestionController">
  <%= form_for(@question, html: { name: "newQuestionForm" }) do |f| %>
    <div class="field">
      <%= f.text_field :title, class: "large", autocomplete: "off", ng_model: "question" %>
    </div>

    <h3>Adicione as suas opções:</h3>

    <%= link_to_add_association 'Adicione sua opção', f, :options, 'data-association-insertion-node' => "#options-questions ol", 'data-association-insertion-method' => "append" }


    <fieldset id="options-questions">
    <ol>
      <%= f.fields_for :options do |option| %>
        <%= render partial: "options_fields", locals: {f: option} %>
      <% end %>
    </ol>
    <fieldset />



    <% if flash[:notice] %>
      <div class="notice"><%= flash[:notice] %></div>
    <% end %>

    <br>

    <div class="actions">
      <%= f.submit "Criar" %>
    </div>

  <% end %>
</div>
<script>
 var opcao =  $("#question_options_quantity_chosen").val();
  alert(opcao);
</script>
