<%= render "navbar/navbar" %>
<section class="pagi-enquete">
  <section class="form-enquete">
    <div id="header-new-enquete">
      <h1>Enquete da empresa</h1>
    </div>
  <div id="form-options">
    <%= form_for(@question) do |f| %>
      <%= f.hidden_field :company_id, :value => @company.id %>
      <div class="for-questions-title">
        <label for="title">Pergunta
          <%= f.text_area :title, :class => "input-for-pergunta", required: true%>
        </label>
      </div>
    <h3>Adicione as suas opções:</h3>
    <%= link_to_add_association image_tag("plus.png", size: "40x40", title: "Adicionar Opção"), f, :option, 'data-association-insertion-node' => "#options-questions ol", 'data-association-insertion-method' => "append"%>
    <fieldset id="options-questions">
      <ol>
        <%= f.fields_for :option do |options| %>
        <%= render partial: "option_fields", locals: { f: options } %>
        <% end %>
      </ol>
    <fieldset />
    <div class="actions">
      <%= f.submit "Criar", :id => "button"%>
    </div>

  <% end %>
</div>
</section>
</section>




