<%= render "navbar/navbar" %>
<section id="show-questions">
  <div>
    <h1><%= @question.title %></h1>
    <%= form_tag "/votes", :controller => "votes", :action => "update", method: :put, params:{question_id: @que} do |f| %>
    <fieldset>
      
          <% @question.option.each do |option| %>
           
                <%= hidden_field_tag :question_id, @question.id%>
               
                <%= radio_button("vote", "option_id", option.id)%>
                <label for="votes"><%=option.title%></label>
                <br />
          <% end %>  
    
    </fieldset>

    <td><%= button_to 'Votar'%></td>
    <% end %>
  </div>
</section>  

