<header>
  <div class="float-l logo-avalia">
    <%= link_to :controller => :welcome, :action => :index do %>
    <%= image_tag("AVALIA_LOGO.png", :alt => "logo", :width => "50", :height => "50") %>
    <% end %>
    </div>
    <input type="checkbox" id="control-nav" />
    <label for="control-nav" class="control-nav"></label>
    <label for="control-nav" class="control-nav-close"></label>
      <form action="" class="navbar-form navbar-left" role="search">
        <input type="text" class="input-search" placeholder="Buscar" >
        <input type="image" width="25px" height="35px" class="input-image" <%= image_tag("tool.svg", :alt => "logo") %>
      </form>     
    <nav class="navbar-right" role="navigation">
      
      <ul class="list-auto navbar-right">
          <li><%= link_to "Inicio",:controller => :welcome, :action => :index%></li>
          <li>
            <%= link_to "Categorias", segment_path %>
          </li>
          <li>
            <a href="projects.html">Ranking</a>
          </li>
          <li class="pipe">|</li>
          <% if logged_in? %>
            <li><a href="#">Bem-Vindo, <%= current_user.name%></a> 
              <ul> 
                <li>
                  <%= link_to "Perfil", :controller => "users", :action => :show ,:id => current_user.id %>
                </li> 
                <li>
                  <%= link_to "Cadastrar Empresa", company_new_path %>
                </li>                         
                <li>
                  <%= link_to "Sair", logout_path %>
                </li>  
              </ul>
            </li>
          <% else %>
            <li><%= link_to "Cadastrar Empresa", company_new_path %></li>&nbsp;&nbsp;
            <li><%= link_to "Entrar", login_path %></li>
        <% end %>   
        </ul>     
    </nav>
</header>

