<%= favicon_link_tag 'favicon.ico'%>
<header>
  <div class="float-l logo-avalia">
    <%= link_to :controller => :welcome, :action => :index do %>
    <%= image_tag("AVALIA_LOGO.png", :alt => "logo", :width => "50", :height => "50") %>
    <% end %>
    </div>
    <input type="checkbox" id="control-nav" />
    <label for="control-nav" class="control-nav"></label>
    <label for="control-nav" class="control-nav-close"></label>
      <%= form_for(:current_search, url: search_company_path, :html => {class: 'navbar-form navbar-left'}) do |f|%>
        <%= f.text_field :search, :class => "input-search", placeholder: "Buscar" %>
        <%= f.submit "Buscar", :type => :image, :src => image_path("tool.svg"), :class => "input-image", width: "25px", height: "35px" %>
      <%end%>
    <nav class="navbar-right" role="navigation">
      
      <ul class="list-auto navbar-right">
          <li><%= link_to "Inicio",:controller => :welcome, :action => :index%></li>
          <li>
            <%= link_to "Categorias", segment_path %>
          </li>
          <li>
            <a href="#"> Rankings </a>
            <ul class="ranking-dropdown">
              <li><%= link_to "Nota", ranking_grade_path %></li>
              <li><%= link_to "Tempo de resposta", ranking_response_path %></li>
            </ul>
            
          </li>
          <li class="pipe">|</li>
          <% if logged_in? %>
            <li><a href="#">Bem Vindo, <%= current_user.name.split(" ")[0] %></a> 
              <ul>
                <% if current_user.admin %>
                <li>
                  <%= link_to "Ãrea de gerenciamento", management_attach_path %>
                </li>
                <% end %>
                <li>
                  <%= link_to "Perfil", :controller => "users", :action => :show ,:id => current_user.id %>
                </li> 
                <li>
                  <%= link_to "Cadastrar Empresa", company_new_path%>
                </li>                         
                <li>
                  <%= link_to "Sair", logout_path %>
                </li>  
              </ul>
            </li>
          <% else %>
            <li><%= link_to "Cadastrar Empresa", company_new_path %></li>&nbsp;&nbsp;
            <li><%= link_to "Entrar", login_path %></li>
        <% end %>   
        </ul>     
    </nav>
</header>

