<header>
	<form action="#" method="post" class="navbar">
    <div class="navbar-search">
      <span class="nav-image">
        <%= image_tag("AVALIA_LOGO.png", :alt => "logo", :width => "50", :height => "50") %>
      </span>
      <input type="text" class="input-search" placeholder="Buscar" >
      <input type="image" width="25px" height="35px" class="input-image" <%= image_tag("tool.svg", :alt => "logo") %>
      <nav id="navbar-menu">
        <ul>
          <li><a href=""><%= link_to "Inicio",:controller => :welcome, :action => :index%></a></li>&nbsp;&nbsp;&nbsp;
          <li><%= link_to "Categorias", segment_path %></li>&nbsp;&nbsp;&nbsp;
          <li><a href="">Ranking</a></li>&nbsp;&nbsp;
          <li class="pipe">|</li>&nbsp;&nbsp;

          <% if logged_in? %>
          <div class="dropdown">
            <p class="dropbtn">&nbsp;Olá, <%= current_user.name %></p>
            <div class="dropdown-content" style="display:block; float: left;">
              <a href="#"><%= link_to "Perfil", :controller => "users", :action => :show ,:id => current_user.id %></a>
              <a href="#"><%= link_to "Cadastrar Empresa", company_new_path %></a>
              <a href="#"><%= link_to "Sair", logout_path %></a>
            </div>
          </div>
        <% else %>
          <li><%= link_to "Cadastrar Empresa", company_new_path %></li>&nbsp;&nbsp;
          <li><%= link_to "Entrar", login_path %></li>
        <% end %>        
        </ul>         
      </nav>
    </div>
  </form>
</header>