<%= render "navbar/navbar" %>
	<section class="container-principal">
		<section class="container">
			<section class="topo-pagina row">
				<div class="col-lg-12">
					<h1>Rankings por nota</h1>
				</div>
				<div class="menu-ranking col-lg-12">
					<span class="">Geral</span>
					<span class="">Categoria</span>
				</div>
			</section>
			<section class="corpo-principal row">
				<section id="logo-categoria">
					<%= image_tag("AVALIA_LOGO.png", :alt => "logo", :class => "logo-in-ranking") %>
				</section>
				<%@companies.each_with_index do |company, index|%>
					<% classification = @companies.offset + index + 1%>
					<section class="border-radius col-lg-8">
						<div class="classificacao col-lg-11"><%= classification  %>º&nbsp;&nbsp;
							<% if company.logo_file_name == nil %>
	  						<%= image_tag("default_company_logo.png", :width => "20", :height => "20", :id => "logo-company") %>
							<%else%>
	  						<%= image_tag(company.logo.url(:default), :width => "20", :height => "20", :id => "logo-company") %>
							<%end%><%=link_to company.name, company %></div>
						<div class="classificacao col-lg-1"><%= "%g" % company.rate.round(2) %></div>
						<br />
					</section>
				<%end%>

				<%= will_paginate @companies, renderer: BootstrapPagination::Rails, previous_label: '← Anterior', next_label: 'Próxima →' %>
			</section>
		</section>
	</section>


