<%= render "navbar/navbar" %>

<div id="erro-message">
		<% @topic.errors.messages.values.each do |msg| %>
		<% msg.each do |m| %>
		<li id="error_message"><%= m %></li>
			<%end %>
		<% end %>
		<% if flash[:error] -%>
			<p class="error"><%= flash[:error] %></p>
		<% end -%>
</div>
</br></br>


<section id="section-form">
	<div class = "form_attach">
		<h3> Editar </h3>
		</br>

			<%= form_for( @topic, url: {action: "update"} ) do |f| %>

			<%= f.hidden_field :company_id, :value => @topic.company.id %>
			<label> <span> Título </span></label>
			<%= f.text_field :title, :placeholder => "Título do Tópico", 
							 :maxlength => 60, required: true %>
			</br></br>
			<label> <span> Conteúdo </span></label>
			<%= f.text_area :body, :rows => 10, :placeholder => "Conteúdo do tópico",
			:maxlength => 1500, required: true %>
			</br></br>

			<%= button_tag(type: 'submit', class: "btn btn-confirm", id: 'btn-Confirmar' ) do %> Confirmar 
				<% end %><br/>
			<% end %>
		</div>
</section>