<%= render "navbar/navbar" %>

<div id="erro-message">
		<% @topic.errors.messages.values.each do |msg| %>
		<% msg.each do |m| %>
		<li id="error_message"><%= m %></li>
			<%end %>
		<% end %>
		<% if flash[:error] -%>
			<p class="error"><%= flash[:error] %></p>
		<% end -%>
</div>
</br></br>


<div id="body-show-attach">
	<h1>Novo tópico</h1>
	</br>

	<%= form_for( @topic, url: {action: "create"} ) do |f| %>

	<%= f.hidden_field :company_id, :value => @company.id %>

	<%= f.text_field :title, :placeholder => "Título do Tópico", :maxlength => 60, required: true, :class => "topic-field"%>
	</br></br>
	<%= f.text_area :body, :rows => 20, :cols => 59, :placeholder => "Conteúdo do tópico",
	:maxlength => 1500, required: true, :class => "topic-text", :maxlength => 254%>
	</br></br>

	<div id="button-new-topic">
		<%= button_tag(type: 'submit', class: "btn btn-confirm", id: 'btn-Confirmar') do %> Confirmar 
			<% end %><br/></br></br>
		<% end %>
	</div>

</div>
</section>