<%= render "navbar/navbar" %>
</br></br></br></br></br>	
<div class = "form_attach">
	<topicStyle> <%= image_tag "clock_topic.png", size: "20x20" %>
		 Tópico criado em <%= @topic.create_date.strftime("%d/%m/%Y") %> 
	</topicStyle>
	</br></br>
	<topicStyle>
	  <strong>Autor:</strong>
		  <%= @topic.user.name %> </br></br>
	  <strong>Título:</strong>
	  <%= @topic.title %>
	</topicStyle> </br></br>
		<topicStyle>
		  <strong>Conteúdo:</strong>
		  <%= @topic.body %>
		</br>
		</topicStyle>
		</br>

		<% if @topic.user == current_user %>
			<li><%= link_to "Editar", edit_topic_path(@topic), class: "btn btn-edit",
				id: "btn-edit-topic" %></li> </br>
			<%= link_to "Excluir", @topic, data: { confirm: "Tem certeza que deseja excluir este tópico?" }, class: "btn btn-delete", id: "btn-delete-topic",
			 	method: :delete %>
		<% end %> </br></br></br>
		<topicStyle>
		  	Comentários:
		</topicStyle>	
		<section class="comment-section">
			<%= render 'comments/show'%>
		</section>
</div>
