<h1>Cadastre um usuário</h1>

<head>
	<meta charset="utf-8">
	<title> Avalia +</title>
</head>

<body>
	<header id="header">
		<span>
			Avalia
			<%= image_tag("AVALIA_LOGO.png", :alt => "logo") %>
		</span>
	</header>
	<section id="line"></section>
	<section id="section-form">
		<h2>Cadastre um usuário</h2></br></br>
		<%= form_for @user, url: {action: "create"}, html: {class: "nifty_form"} do |f| %>
			<span>
				<%= f.text_field :name, :class => "text" , :placeholder => "Nome completo" %>
				<%= f.text_field :login, :class => "text" , :placeholder => "Apelido" %>
			</span></br></br>
			<span>
				<%= f.password_field :password, :class => "text" , :placeholder => "Senha" %>
				<%= f.password_field :password, :class => "text" , :placeholder => "Confirme a senha" %>
			</span></br></br>
				<%= f.text_field :email, :class => "text" , :placeholder => "E-mail" %>
				<%= f.date_field :dateBirthday %></br></br>
			<span class="radio">
				Masculino <%= f.radio_button :gender, "m", :class => "radio"%>
				Feminino <%= f.radio_button :gender, "f", :class => "radio"%>

			</span></br></br>
			<%= f.submit "Cadastrar", :id => "button" %>

			<% @user.errors.messages.values.each do |msg| %>
  				<% msg.each do |m| %>
   					<li><%= m %></li>
  				<%end %>
			<% end %>

			<% if flash[:error] -%>
  				<p class="error"><%= flash[:error] %></p>
			<% end -%>

		<% end %>
	</section>
</body>




