<%= render "navbar/navbar" %>

<%= image_tag("business_background.jpeg", :alt => "img", :class => "img") %>
<section id="line"></section>
<section id="section-form">
	<div id="erro-message">
		<% @user.errors.messages.values.each do |msg| %>
		<% msg.each do |m| %>
		<li id="error_message"><%= m %></li>
		<%end %>
	<% end %>
	<% if flash[:error] -%>
		<p class="error"><%= flash[:error] %></p>
	<% end -%>
	</div>
	<div id="form-new-user">
	<h2>Cadastre um usuário</h2>
	

	<%= form_for @user, url: {action: "create"}, html: {class: "nifty_form"} do |f| %>

		<span>
			<%= f.text_field :name, :class => "text", :placeholder => "Nome completo" %>
			<%= f.text_field :login, :class => "text" , :placeholder => "Apelido" %>
		</span></br></br>

		<span>
			<%= f.password_field :password, :class => "text" , :placeholder => "Senha" %>
			<%= f.password_field :password_confirmation, :class => "text" , :placeholder => "Confirme a senha"%>
		</span></br></br>

		<span>
			<%= f.text_field :email, :class => "text" , :placeholder => "E-mail" %>
			<%= f.date_field :dateBirthday, :class => "text", :placeholder => "dd/mm/aaaa"%>
		</span></br></br>

		<span id="radio">
			<%= f.select :uf_id, Uf.all.collect {|uf| [uf.name, uf.id]}, :class => "text"%>&nbsp;&nbsp;
			Masculino <%= f.radio_button :gender, "m", :class => "radio-btn"%>
			Feminino <%= f.radio_button :gender, "f", :class => "radio-btn"%>
		</span></br></br>

		<%= f.submit "Cadastrar", :id => "button" %></br></br></br>

	<% end %>
	</div>
</section>




