<!-- 
<header id="header-logado">
    <%= image_tag("AVALIA_LOGO.png", :alt => "logo") %>
    <form action="#" method="post" class="forme-email">
        <div class="input-mail">
          <input type="text" class="input-subscrypt" placeholder="Buscar" >
           <input type="image" width="25px" height="35px" class="butto-subscrypt" onsubmit="submit();" <%= image_tag("tool.svg", :alt => "logo") %> 
          </div>
        </form>
    <nav id="menu-logado">
    <ul>
        <li><a href="">Categorias</a></li>&nbsp;&nbsp;&nbsp;
  <li><a href="">Ranking</a></li>&nbsp;&nbsp;
  <li class="pipe">|</li>&nbsp;&nbsp;
  <li><%= link_to "Entrar", :controller => :entry, :action => :enter %></li>
    </ul>         
    </nav>
</header>
 -->
<header id="header-show">
    <%= image_tag("AVALIA_LOGO.png", :alt => "logo", :id => "img-logo-show") %>
    <form action="#" method="post" class="forme-email-show">
      <div class="input-mail">
        <input type="text" class="input-subscrypt" placeholder="Buscar" >
        <input type="image" width="20px" class="butto-subscrypt" onsubmit="submit();" <%= image_tag("tool.svg", :alt => "logo") %>
      </div>
    </form>
        <nav id="menu_show">
          <ul>
              <li><a href="">Categorias</a></li>&nbsp;&nbsp;&nbsp;
              <li><a href="">Ranking</a></li>&nbsp;&nbsp;
              <li class="pipe">|</li>&nbsp;&nbsp;
              <li><%= link_to "Entrar", :controller => :entry, :action => :enter %></li>
          </ul>         
        </nav>
</header>


<section id="corpo">
  <h1>Perfil</h1>
  <section id="principal_table">
    <table>
        <tr >
          <td id="table-itens">Nome</td>
          <td><%= @user.name %></td>
           <td></td>
        </tr>
        <tr>
          <td id="table-itens">Apelido</td>
          <td class="no-editar"><%= @user.login %></td>
          <td></td>
        </tr>
       <tr >
         <td id="table-itens">E-mail</td>
         <td class="no-editar"><%= @user.email %></td>
         <td></td>
        </tr>
        
        <tr >
          <td id="table-itens">G&ecirc;nero</td>
          <td > 
            <% if @user.gender == "m" %>
              <%="Masculino"%> 
            <% else %> 
              <%="Feminino"%>
            <%end%>
          </td>
          <td></td>
        </tr>
        <tr >
          <td id="table-itens">Data Nascimento</td>
          <td><%= @user.dateBirthday.to_s %></td>
          <td></td>
        </tr>
    </table>
  </section>
  <section id="link-to-edit">
    <%= button_to "Editar", users_edit_path(:id => @user.id, :name => @user.name), :id => "button-edit"%></br>
  </section>
</section>
