<section id="teste">		
	<%= image_tag("fundoPrincipal.png", :alt => "img", :class => "img") %>

	<header>
        <span id="header-span-index">avalia&nbsp;
        	<%= link_to :controller => :welcome, :action => :index do %>
        	<%= image_tag("AVALIA_LOGO.png", :alt => "logo") %>
        	<% end %>
        </span>
    </header>

	<!-- <header>
		<span><%= link_to :controller => :welcome, :action => :index do %>
			<%= image_tag("logo2.png", :alt => "logo") %>
		<% end %>
		</span> -->

        <nav id="menu_show_index">
          <ul>
              <li><a href="">Categorias</a></li>&nbsp;&nbsp;&nbsp;
              <li><a href="">Ranking</a></li>&nbsp;&nbsp;
              <li class="pipe">|</li>&nbsp;&nbsp;
              
              <% if current_user %>
                Bem vindo <%= current_user.name %>
                <li><%= link_to "Sair", logout_path %></li> or
                <li><%= link_to "Cadastrar Empresa", company_new_path %></li>
              <% else %>
                <li><%= link_to "Entrar", login_path %></li> or
                 <li><%= link_to "Cadastrar", :controller => :users, :action => :new %></li> or
                 <li><%= link_to "Cadastrar Empresa", company_new_path %></li>
              <% end %>
             
          </ul>         
        </nav>
	</header>

	<section id="principal">
		<h3>Aqui você pode bem mais</h3>
		<p>Plataforma onde você pode avaliar sua empresa, e muito mais. Avalie, consulte, reclame, ajude e discuta subre problemas e soluções.</p><br />
		<form action="#" method="post" class="forme-email">
				<div class="input-mail">
   			<input type="text" class="input-subscript" placeholder="Buscar" >
   			 <input type="image" width="25px" height="35px" class="button-subscript" onsubmit="submit();" <%= image_tag("tool.svg", :alt => "logo") %> 
    		</div>
		</form>
		
	</section>		
</section>
<section id="gradienteTeste"></section>