<section id="teste">
  <%= image_tag("fundoPrincipal.png", :alt => "img", :class => "img") %>
  <header>
    <span id="header-span-index">avalia&nbsp;
      <%= link_to :controller => :welcome, :action => :index do %>
        <%= image_tag("AVALIA_LOGO.png", :alt => "logo") %>
      <% end %>
    </span>
  </header>
  <header>
    <nav id="menu_show_index">
      <ul>
        <li><%= link_to "Categorias", segment_path %></li>&nbsp;&nbsp;&nbsp;
        <li><a href="">Ranking</a></li>&nbsp;&nbsp;
        <li class="pipe">|</li>&nbsp;&nbsp;
        
        <% if logged_in? %>
          <div class="dropdown">
            <p class="dropbtn">&nbsp;Olá, <%= current_user.name %></p>
            <div class="dropdown-content" style="display:block; float: left;">
              <a href="#"><%= link_to "Perfil", :controller => "users", :action => :show ,:id => current_user.id %></a>
              <a href="#"><%= link_to "Cadastrar Empresa", company_new_path %></a>
              <a href="#"><%= link_to "Sair", logout_path %></a>
            </div>
          </div>
        <% else %>
          <li><%= link_to "Cadastrar Empresa", company_new_path %></li>&nbsp;&nbsp;
          <li><%= link_to "Entrar", login_path %></li>
        <% end %>
        
      </ul>
    </nav>
  </header>
  <section id="principal">
    <h3>Avalie sua empresa. Resolva seu problema.</h3>
    <p>Plataforma onde você pode avaliar sua empresa, e muito mais. Avalie, consulte, reclame, ajude e discuta subre problemas e soluções.</p><br />
    <%= form_for(:company, url: search_company_path) do |f|%>
      <%= f.text_field :search, :class => "input-subscript forme-email", placeholder: "Buscar" %>
      <%= f.submit "Buscar", :type => :image, :src => image_path("tool.svg"), :class => "button-subscript"%>
    <%end%>
    
  </section>
</section>
<section id="gradienteTeste"></section>