<section id="teste">		
	<%= image_tag("fundoPrincipal.png", :alt => "img", :class => "img") %>

	<header>
        <span id="header-span-index">
        	<%= link_to :controller => :welcome, :action => :index do %>
        	<%= image_tag("logo2.png", :alt => "logo") %>
        	<% end %>
        </span>
    </header>
    <nav id="menu_show_index">
      <ul>
          <li><a href="">Categorias</a></li>&nbsp;&nbsp;&nbsp;
          <li><a href="">Ranking</a></li>&nbsp;&nbsp;
          <li class="pipe">|</li>&nbsp;&nbsp;
		  <li><%= link_to "Entrar", :controller => :entry, :action => :enter %></li>
      </ul>         
    </nav>

	<section id="principal">
		<h3>Avalie sua empresa. Resolva seu problema.</h3>
		<p>Plataforma onde você pode avaliar sua empresa, e muito mais. Avalie, consulte, reclame, ajude e discuta subre problemas e soluções.</p><br />
		<%= form_for(:company, url: search_company_path) do |f|%>
			<%= f.text_field :name, :class => "input-subscript" %>
			<%= f.submit "Buscar"%>
		<%end%>
		
	</section>		
</section>
<section id="gradienteTeste"></section>