
<%= render "navbar/navbar" %>
<div class="container show-segments">
  <% segmentos  = 0%>
  <% @segment.each do |s| %>
    <% total = 0%>
    <% segmentos = segmentos + 1%>
    <% @company.each do |f| %>
      <% if s.id == f.segment_id %>
        <% total = total +1 %>
      <%end%>
    <%end%>
    <% if total > 0 %>

      <div class="well col-sm-12 col-md-8 col-md-offset-2">
        <div class="row user-row">
          <div class="col-md-1" id="logo_segment">
            <%= image_tag("default_segments.png", :alt => "img", :class => "mg-circle") %>
          </div>
          <div class="col-md-10 title-segment">
           <strong><%=s.name%></strong><br>
          </div>
          <div class="col-md-1 dropdown-user" data-for=".cyruxx-<%=segmentos%>">
            (<span style="color: #FF4040"><%=total%></span>)<%= image_tag("down.png", :alt => "abrir", :class => "img-down") %>
          </div>
        </div>
        <div class="row user-infos cyruxx-<%=segmentos%>">
          <div class="col-sm-10 col-md-10 col-md-offset-1">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title">Empresas Desta Categoria</h3>
              </div>
              <div class="panel-body">
                <div class="row">
                  <div class="col-md-10">
                    <ul>
                      <% @company.each do |f| %>
                        <% if s.id == f.segment_id %>
                          <li><%=link_to f.name, f%></li>
                        <%end%>
                      <%end%>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <%end%>
  <%end%>
</div>
<script> 
  $(".user-infos").hide();
  $(".dropdown-user").click(function() {
    var dataFor = $(this).attr('data-for');
    var idFor = $(dataFor);
    var currentButton = $(this);
    idFor.slideToggle(400, function() {
    });
  });   
</script>