<h1>Cadastre uma nova empresa</h1>

<%= form_for @company, url: {action: "create"}, html: {multipart: true, class: "nifty_form"} do |f| %>
	
	<% if @company.errors.any? %>
		
		<h2> Errors: </h2>
		<ul>
			<% @company.errors.full_messages.each do |message|%>
			<li> <%= message %> </li>
			
			<%end%>
		</ul>>

	<%end%> 


	<%= f.label :name  %></br>
	<%= f.text_field :name %></br>

	<%= f.label :logo %></br>
	<%= f.file_field :logo %></br>

	<%= f.label :Segmento %></br>
	<%= f.select :segment_id, Segment.all.collect {|a| [a.name, a.id]} %></br>

	<%= f.label :Endereço %></br>
	<%= f.text_field :address, size: "60x12" %></br>

	<%= f.label :UF %></br>
	<%= f.text_field :UF %></br>

	<%= f.label :telefone %></br>
	<%= f.text_field :telephone %></br>

	<%= f.label :Email %></br>
	<%= f.text_field :email %></br>

	<%= f.label :description %></br>
	<%= f.text_area :description, size: "60x12" %></br></br>

	<%= f.submit "Cadastrar" %>
<% end %>