<%= render "navbar/navbar" %>

<% if @company.logo_file_name == nil %>
  <%= image_tag("default_company_logo.png", :width => "125", :height => "125", :id => "image-company") %>
<%else%>
  <%= image_tag(@company.logo.url(:default), :width => "125", :height => "125", :id => "image-company") %>
<%end%>

<% if @company.authenticated != true %>
  <%= image_tag("no_verified.png", :width => "40", :height => "40", :id => "image-verified") %>
<%else%>
  <%= image_tag("verified.png", :width => "40", :height => "40", :id => "image-verified") %>
<%end%>

<div id="name_company">
  <h1><%= @company.name %></h1>
</div>

<div id="info_empresa">
  <%= @company.telephone %></br>
  <%= @company.email %></br>
</div>

<div id="name_segment">
  <h2><%= @company.segment.name %></h2>
</div>

<div class="container">
  <div class="btn-group">
    <div class="btn geral">Geral</div>
    <div class="btn avaliacao">Avaliações</div>
    <div class="btn forum">Fórum</div>
    <div class="btn faq">FAQ</div>
  </div>
</div>

<section id="avaliacao">
  <p>Avaliacao da Empresa - Não Implementado</p> 
</section>

<section id="forum">
  <p>Fórum da Empresa - Não Implementado</p> 
</section>

<section id="faq">
  <p>FAQ da Empresa - Não Implementado</p> 
</section>

<section id="description">
  <% if @company.description == nil || @company.description == "" %>
    <p>Essa empresa não possui uma descrição.</p>
  <%else%>
    <p><%= @company.description %></p>
  <%end%>
  
  <section id="stars_evaluations">
    <%= image_tag("star3.jpeg") %>
    <h2>(0 Avaliações)</h2>
  </section>
</section>


<script>
$(".avaliacao").click(function(){
  $("#description").hide("slow");
  $("#forum").hide("slow");
  $("#faq").hide("slow");
  $("#avaliacao").show("slow");
});
$(".geral").click(function(){
  $("#avaliacao").hide("slow");
  $("#forum").hide("slow");
  $("#faq").hide("slow");
  $("#description").show("slow");
});
$(".forum").click(function(){
  $("#avaliacao").hide("slow");
  $("#faq").hide("slow");
  $("#description").hide("slow");
  $("#forum").show("slow");
});
$(".faq").click(function(){
  $("#avaliacao").hide("slow");
  $("#forum").hide("slow");
  $("#description").hide("slow");
  $("#faq").show("slow");
});
</script>