<h1><%= @company.name %></h1>

<p><%= @company.segment.name %></p>

<%= image_tag (@company.logo.url(:default)) %>

<p><%= @company.address %></p>

<p><%= @company.UF %></p>

<p><%= @company.telephone %></p>

<p><%= @company.description %></p>

<p><%= @company.email %></p>