<header id="header-show">
  <%= image_tag("AVALIA_LOGO.png", :alt => "logo") %>
    <form action="#" method="post" class="forme-email">
      <div class="input-mail">
          <input type="text" class="input-subscript" placeholder="Buscar" >
          <%= image_tag("tool.svg", :width => "22", :height => "22", :id => "button-subscript", :onClick => "submit()") %>
          <!-- <input type="image"  src="tool.svg" width="22px" height="22px" class="button-subscrypt" alt="" onsubmit="submit();"> -->
        </div>
    </form>
        <nav id="menu">
          <ul>
              <li><a href="">Categorias</a></li>&nbsp;&nbsp;&nbsp;
              <li><a href="">Ranking</a></li>&nbsp;&nbsp;
              <li class="pipe">|</li>&nbsp;&nbsp;
              <li><a href="">Entrar</a></li>
          </ul>         
        </nav>
</header>

<%= image_tag(@company.logo.url(:default), :width => "125", :height => "125", :id => "image-company") %>

<div id="info_empresa">
    <h1><%= @company.name %></h1>
    <h2><%= @company.telephone %></h2>
    <h2><%= @company.email %></h2>
    <h2><%= @company.segment.name %></h2>
</div>

<div class="container">
  <div class="btn-group">
    <div class="btn active">Geral</div>
    <div class="btn">Avaliações</div>
    <div class="btn">Fórum</div>
    <div class="btn">FAQ</div>
  </div>
</div>

<section id="description">
  <p><%= @company.description %></p>
</section>





<!-- <p><%= @company.address %></p>

<p><%= @company.uf %></p> -->