<%= render "navbar/navbar" %>

<% if @company.logo_file_name == nil %>
  <%= image_tag("default_company_logo.png", :width => "125", :height => "125", :id => "image-company") %>
<%else%>
  <%= image_tag(@company.logo.url(:default), :width => "125", :height => "125", :id => "image-company") %>
<%end%>

<% if @company.authenticated != true %>
  <%= image_tag("no_verified.png", :width => "40", :height => "40", :id => "image-verified") %>
<%else%>
  <%= image_tag("verified.png", :width => "40", :height => "40", :id => "image-verified") %>
<%end%>

<div id="name_company">
  <h1><%= @company.name %></h1>
</div>

<div id="info_empresa">
  <%= @company.telephone%></br>
  <%= @company.email %></br>
</div></br>
<% if @company.rate.present? %>
  <div id="general-rate">
    <h4>Nota geral da Empresa</h4> </br>
    <h4 id="value-rate"><%= number_with_precision(@total_evaluations, :precision => 2)  %></h4>
  </div>
  <div id="image-general-rate">
    <%= image_tag(@image_name, :width => "90", :height => "136.8", :id => "medal-image") %>
  </div>
<%end%>

<%if logged_in? %> 
  <% if validated? %>
    <div id= "attach">
        <p><%= link_to "Solicitar Vínculo", new_attach_path(:company_id => @company.id), class: "btn btn-attach", id: "btn-vinculo" %> </p>
    </div>
  <%end%>
<%end%>

<div id="name_segment">
  <h2><%= @company.segment.name %></h2>
</div>

<div class="container-show-company">
  <div class="btn-group">
    <div class="btn avaliacao">Avaliações</div>
    <div class="btn geral">Geral</div>
    <div class="btn forum" id="js-btn-forum">Fórum</div>
    <div class="btn faq">FAQ</div>
  </div>
</div>

<section id="avaliacao">
  <div class="barra">
    <%if logged_in? %> 
      <div class="estrelas">
        <div id="check-response">
          A empresa respondeu as reclamações?
          <form id="confirmation-response">
            <% if @current_evaluation.present? %>
              <%if @current_evaluation.response_time != nil%>
                Sim  <input type="radio" name="confirm-response" value="yes" class="response-radio" id="confirm-radio" checked>
                Não  <input type="radio" name="confirm-response" value="no" class="response-radio" id="decline-radio" disabled>
              <%else%>
                Sim  <input type="radio" name="confirm-response" value="yes" class="response-radio" id="confirm-radio" >
                Não  <input type="radio" name="confirm-response" value="no" class="response-radio" id="decline-radio" checked>
              <%end%>
            <%else%>
              Sim  <input type="radio" name="confirm-response" value="yes" class="response-radio" id="confirm-radio" >
              Não  <input type="radio" name="confirm-response" value="no" class="response-radio" id="decline-radio" checked>
            <%end%>
          </form>
        </div></br></br></br></br>
        <span id="message-evaluation">
          Tempo de resposta da empresa:
        </span>
        <%= form_for(:response, url: response_time_path) do |f|%>
          <%= f.hidden_field :user_id, :value => current_user.id%>
          <%= f.hidden_field :company_id, :value => @company.id%>
          <% if @current_evaluation.present? %>
            <% if @current_evaluation.response_time != nil %>
              <%= f.number_field :response_time, :class => "response-time-field", :min => 0, :step => 1, :value => @current_evaluation.response_time%>
            <% else %>
              <%= f.number_field :response_time, :class => "response-time-field", :min => 0, :step => 1, :value => :min%>
            <% end %>
          <% else %>
            <%= f.number_field :response_time, :class => "response-time-field", :min => 0, :step => 1, :value => :min%>
          <%end%>
          <%= f.submit 'Submeter', :class => "btn btn-primary btn-sm btn-submit"%>
        <%end%>
        </br></br></br>
        <span id="message-evaluation">
          Avaliação pessoal:
        </span>
        <% for rates in 1..5 do %> 
          <%= form_for(:evaluations, url: rate_path) do |f|%>
            <%= f.hidden_field :grade, :value => rates%>
            <%= f.hidden_field :user_id, :value => current_user.id%>
            <%= f.hidden_field :company_id, :value => @company.id%>
            <%= f.submit 'Rates', :type => :image, :src => image_path("starpng.png"), :class => "star", :id=> 'star-'+rates.to_s%>
          <%end%>
        <%end%>
      </div> 
    <%else%>
      <p>Para avaliar uma empresa é necessário realizar login.</p>
    <%end%>
  </div> 
</section>

<section id="forum">


   <div id="check-response">
          <div id="confirmation-response">

              <% list_topics.each do |topic| %>
              <topicStyle>
                <%= link_to topic.title, topic%>
                </topicStyle>
               </br>
              <% end %> 
               <%= hidden_field :company_id, :value => @company.id%>

  <%if logged_in?%>
    <p><%= link_to "Novo tópico", new_topic_path(:company_id => @company.id), class: "btn btn-primary" %> </p>

  <%end%>
          </div>
        </div></br></br></br></br>

</section>

<section id="faq">
  <p>FAQ da Empresa - Não Implementado</p> 
</section>

<section id="description">
  <% if @company.description == nil || @company.description == "" %>
    <p>Essa empresa não possui uma descrição.</p>
  <%else%>
    <p><%= @company.description %></p>
  <%end%>
</section>

<script>

  <%if @current_evaluation.present? %>
    var current_rate  =  <%= @current_evaluation.grade%>;
    if(current_rate >= 0){
      for (var i = 0; i < current_rate; i++) {
        $('.star:eq('+i+')').addClass('full');
      }
    }
  <%end%>
  var selecionado = document.getElementById("decline-radio").checked; 
    if (selecionado) {
      $(".response-time-field").attr("disabled", true);
      $(".btn-submit").attr("disabled", true);
    }

  $("#decline-radio").click(function(){
    $(".response-time-field").attr("disabled", true);
    $(".btn-submit").attr("disabled", true);
  });
  $("#confirm-radio").click(function(){
    $(".response-time-field").attr("disabled", false);
    $(".btn-submit").attr("disabled", false);
  });

  $(".avaliacao").click(function(){
    $("#description").hide("slow");
    $("#forum").hide("slow");
    $("#faq").hide("slow");
    $("#avaliacao").show("slow");
  });
  $(".geral").click(function(){
    $("#avaliacao").hide("slow");
    $("#forum").hide("slow");
    $("#faq").hide("slow");
    $("#description").show("slow");
  });
  $(".forum").click(function(){
    $("#avaliacao").hide("slow");
    $("#faq").hide("slow");
    $("#description").hide("slow");
    $("#forum").show("slow");
  });
  $(".faq").click(function(){
    $("#avaliacao").hide("slow");
    $("#forum").hide("slow");
    $("#description").hide("slow");
    $("#faq").show("slow");
  });

  $('.star').on('click', function(){
    var ponto = $(this).attr('id');
    for (var i = 0; i <= indice; i++) {
      $('.star:eq('+i+')').addClass('full');
    }
  });
  $('.star').on('mouseover', function(){
    var indice = $('.star').index(this);
    $('.star').removeClass('full');
    for (var i = 0; i <= indice; i++) {
      $('.star:eq('+i+')').addClass('full');
    }
  });
  $('.star').on('mouseout', function(){
    var indice = $('.star').index(this);
    for (var i = 0; i <= indice; i++) {
      $('.star:eq('+i+')').removeClass('full');
    }
    <%if @current_evaluation.present? %>
    var current_rate  =  <%= @current_evaluation.grade%>;
    if(current_rate >= 0){
      for (var i = 0; i < current_rate; i++) {
        $('.star:eq('+i+')').addClass('full');
      }
    }
    <%end%>
  });


</script>