<link rel="stylesheet" type="text/css" href="entry.scss">
<header id="header">
	<span> <%= link_to :controller => :welcome, :action => :index do %>
			<%= image_tag("logo1.png", :alt => "logo") %>
		<% end %>
	</span>
</header>
<%= image_tag("fundoPrincipal.png", :alt => "img", :class => "img") %>
<section id="line"></section>
<section id="section-form">
	<%= button_to "Cadastrar", :controller => :users, :action => :new, :id => "button-signup"%>
	      
	<h1>Email ou apelido</h1>

	<%= text_field :name, :class => "text" , :placeholder => "Email ou Apelido" %>

	<h1>Senha</h1>
	<%= password_field :login, :class => "text" , :placeholder => "Senha" %>

	<%= button_to "Entrar"%>
	<div>
	<%= link_to "Esqueceu senha"%>
	</div>
</section>