<li class = "control-group nested-fields">
		<div class="controls">
			<%= faq.label :Pergunta %>
        	<%= faq.text_field :title, :class => "form-large"%>
			<%= f.fields_for : faq_question do |faq_question|
				<%= faq_question.label :Resposta %>
      			<%= faq_question.text_field_tag :title%>
      		<%end%>	
      		<%= link_to_remove_association "remova", faq %>
   		</div>
   	</li>