<!DOCTYPE html>
<html>
<head>
	<title>Avalia+</title>
	<meta name="viewport" content="width=device-width">
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application'%>
	<%= csrf_meta_tags %>
</head>
<body>
	
	<% if notice.present? %>
		<p id="notice"><%= notice %></p>
	<% end %>
	<% if alert.present? %>
		<p id="alert"><%= alert %></p>
	<% end %>

	<%= yield %>
</body>
</html>
